<div>
	<h1>Edit Recipes</h1>
	<form>
		<div class="form-group">
			<label for="recipe-name">Recipe Name</label>
			<input  class="form-control" id="recipe-name">
		</div>
		<div class="form-group">
			<label for="recipe-category">Recipe Category</label>
			<input class="form-control" id="recipe-category">
		</div>
		<div class="form-group">
			<label for="recipe-tags">Recipe Tags</label>
			<input class="form-control" id="recipe-tags">
		</div>
		<div class="form-group">
			<label for="recipe-category">Recipe Category</label>
			<input class="form-control" id="recipe-category">
		</div>
		<div class="form-group">
			<h4>Recipe Time:</h4>
			<label for="recipe-prep-time">Recipe Prep Time</label>
			<input class="form-control" id="recipe-prep-time">
			<label for="recipe-cook-time">Recipe Cook Time</label>
			<input class="form-control" id="recipe-cook-time">
			<label for="recipe-total-time">Recipe Total Time</label>
			<input class="form-control" id="recipe-total-time">
		</div>
		<div class="form-group">
			<label for="recipe-ingredients">Recipe Ingredients</label>
			<input class="form-control" id="recipe-ingredients">
		</div>
		<div class="form-group">
			<label for="recipe-directions">Recipe Directions</label>
			<textarea class="form-control" id="recipe-directions"></textarea>
		</div>
		<div class="form-group">
			<label for="recipe-thumbnail">Recipe Thumbnail</label>
			<input type="file" id="recipe-thumbnail">
			<p class="help-block">Thumbnail image needs to be sized at 200px by 200px.  This field is optional and a default "Picture Coming Soon" placeholder image will be used if no thumbnail is uploaded.</p>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>