<div ng-controller="loginController">
	<h1>Login Below</h1>

	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>
				<input class="form-control" name="username" id="username" autofocus>
			</div>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</div>
				<input class="form-control" name="password" id="password">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>