<div ng-controller="mainController">
	<header>
		<h1>Family Recipe Search</h1>

		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</div>
					<input class="form-control" id="user-search" ng-model="userSearch" autofocus>
				</div>
			</div>
		</form>
	</header>

	<div class="legend">
		<h4>Quick Filters</h4>
		<ul class="quick-filters">
			<li class="appetizers"><a href="#" class="btn">Appetizers</a></li>
			<li class="breakfast"><a href="#" class="btn">Breakfast</a></li>
			<li class="desserts"><a href="#" class="btn">Desserts</a></li>
			<li class="entrees"><a href="#" class="btn">Entrees</a></li>
			<li class="side"><a href="#" class="btn">Side Dishes</a></li>
		</ul>
	</div>

	<div class="list-group recipes">
		<recipe ng-repeat="recipe in recipes|filter:userSearch" ng-click="openRecipeModal($event)" data-index="{{$index}}" class="recipe"></recipe>
	</div>
</div>