<div ng-controller="mainController">
	<header>
		<h1>Family Recipe Search</h1>

		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</div>
					<input class="form-control capitalize" id="user-search" ng-model="userSearch" autofocus>
					<div class="btn-group">
						<span class="glyphicon glyphicon-remove-circle" id="clear-search" ng-click="clearSearch()"></span>
					</div>
				</div>
			</div>
		</form>
	</header>

	<div class="legend">
		<h3>Quick Filters</h3>
		<div class="meal-type-filters">
			<h4>Category</h4>
			<ul>
				<li ng-repeat="category in categories" class="{{category}}"><a href="#" class="btn btn-info capitalize" ng-click="filterRecipes($event)">{{category}}</a></li>
			</ul>
		</div>
		<div class="tag-filters">
			<h4>Tags</h4>
			<ul>
				<li ng-repeat="tag in tags|orderBy:'toString()'"><a href="#" class="btn btn-info capitalize" ng-click="filterRecipes($event)">{{tag}}</a></li>
			</ul>
		</div>
	</div>

	<div class="list-group recipes">
		<recipe ng-repeat="recipe in recipes|filter:userSearch|orderBy:['category','name']" ng-click="openRecipeModal(recipe)" class="recipe"></recipe>
	</div>
</div>