<div class="edit-recipe-modal" modal="showModal" close="cancel()">
	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
			<h3 class="modal-title capitalize">Edit Recipe - {{recipes[selectedIndex].name}}</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="recipe-name">Recipe Name:</label>
				<input  class="form-control" id="recipe-name" value="{{recipes[selectedIndex].name}}">
			</div>
			<div class="form-group">
				<label for="recipe-category">Recipe Category:</label>
				<!-- <input class="form-control" id="recipe-category" value="{{recipes[selectedIndex].category}}"> -->
				<select id="recipe-category" class="form-control">
					<option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="recipe-tags">Recipe Tags:</label>
				<input class="form-control" id="recipe-tags" value="">
			</div>
			<div class="form-group recipe-time-section">
				<div class="form-group">
					<label for="recipe-prep-time">Recipe Prep Time:</label>
					<input class="form-control" id="recipe-prep-time" value="{{recipes[selectedIndex].time.prep_time}}">
				</div>
				<div class="form-group">
					<label for="recipe-cook-time">Recipe Cook Time:</label>
					<input class="form-control" id="recipe-cook-time" value="{{recipes[selectedIndex].time.cook_time}}">
				</div>
				<div class="form-group">
					<label for="recipe-total-time">Recipe Total Time:</label>
					<input class="form-control" id="recipe-total-time" value="{{recipes[selectedIndex].time.total_time}}">
				</div>
			</div>
 			<div class="form-group ingredients clearfix">
				<h5>Ingredients:</h5>
				<edit-ingredient ng-repeat="ingredient in recipes[selectedIndex].ingredients" class="ingredient"></edit-ingredient>
				<button type="button" class="btn btn-success pull-right" ng-click="addNewIngredient()">Add Another Ingredient</button>
			</div>
			<div class="form-group">
				<label for="recipe-directions">Recipe Directions:</label>
				<textarea class="form-control" id="recipe-directions">{{recipes[selectedIndex].directions}}</textarea>
			</div>
			<div class="form-group">
				<label for="recipe-thumbnail">Recipe Thumbnail:</label>
				<input type="file" id="recipe-thumbnail">
				<p class="help-block">Thumbnail image needs to be sized at 200px by 200px.  This field is optional and a default "Picture Coming Soon" placeholder image will be used if no thumbnail is uploaded.</p>
			</div>
		</div>
		<div class="modal-footer">
			<input type="submit" class="btn btn-primary" ng-click="" value="Edit Recipe">
		</div>
	</form>
</div>