<a href="#" class="list-group-item {{recipe.category}} clearfix">
	<div class="recipe-image">
		<img ng-src="{{recipe.images[0]}}" alt="{{recipe.name}} Thumbnail" class="thumb" ng-hide="recipe.images.length == 0">
	</div>
	<div class="recipe-body">
		<h3 class="list-group-item-heading">{{recipe.name}}</h3>
		<p class="list-group-item-text">Author: {{recipe.author}}</p>
		<p class="list-group-item-text">Total Time: {{recipe.time.total_time}}</p>
		<p class="list-group-item-text">Ingredients:
			<span ng-repeat="ingredient in recipe.ingredients">{{$first ? '' : $last ? ', ' : ', '}}{{ingredient.ingredient}}</span>
		</p>
		<p class="list-group-item-text" ng-hide="recipe.tags.length == 0">Tags:
			<span ng-repeat="tag in recipe.tags">{{$first ? '' : $last ? ', ' : ', '}}{{tag}}</span>
		</p>
	</div>
	<div class="recipe-category">{{recipe.category}}</div>
</a>