// Styling for addNewRecipeModal.html
.add-new-recipe-modal {
	.host {
		border: 1px solid #ccc;
		border-radius: 4px;
		.tags {
			border-radius: 4px;
			border: none;
			box-shadow: none;
		}
	}

}

.add-new-recipe-modal,
.edit-recipe-modal {
	h5 {
		font-weight: 700;
	}
	.ingredients {
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 10px;
		.input-group {
			margin-bottom: 10px;
		}
		.col-md-3 {
			padding-left: 0;
			&:last-of-type {
				padding-right: 0;
			}
			.form-control {
				border-radius: 4px;
			}
		}
		button.btn-success {
			margin-top: 10px;
		}
	}
}