// Generic, reusable components and styling
.capitalize {
	text-transform: capitalize;
}

li {
	list-style-type: circle;
}

li.no-bullet {
	list-style-type: none
}



// Bootstrap overrides
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
	text-decoration: none;
}

.btn-link:hover {
	text-decoration: underline;
}

textarea.form-control {
	height: 100px;
}



// Generic modal styling
.modal-header {
	.modal-title {
		text-align: center;
	}
	.close {
		float: none;
		position: absolute;
		right: 20px;
		span {
			font-size: 30px;
		}
	}
}

.add-new-recipe-modal,
.edit-recipe-modal {
	.form-group {
		margin: 20px 0;
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 10px;
		}
		&.recipe-time-section {
			border: 1px solid #ccc;
			border-radius: 4px;
			margin: 10px 0;
			padding: 10px;
		}
	}
}