// Reusable components
.clear-category-btn {
	float: right;
	text-transform: capitalize;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-top: -10px;
}

body {
	// background-color: blue;
}

li {
	list-style-type: circle;
}

.container {
	header {
		text-align: center;
		h1 {
			text-align: center;
			margin: 50px 0;
		}

		form {
			text-align: center;
			margin-bottom: 30px;
		}
	}

	.legend {
		text-align: center;
		li {
			display: inline;
			margin-right: 20px;
			padding: 10px;
			border-radius: 5px;
		}
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
		a {
			border: 1px solid #ddd;
		}
	}

	#user-search {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	#clear-search {
		position: absolute;
		right: 5px;
		top: -1px;
		height: 14px;
		font-size: 14px;
		cursor: pointer;
		color: #ccc;
		z-index: 2;
		vertical-align: middle;
	}

	.recipe {
		display: block;
		padding: 5px;
		a {
			display: block;
			padding: 30px;
			&:focus {
				outline: none;
				background-color: #FFF;
			}
		}
		.recipe-image {
			.thumb {
				width: 50px;
				height: 50px;
				float: left;
				margin-right: 15px;
			}
		}
		.recipe-body {
			float: left;
			span {
				text-transform: capitalize;
			}
		}
		.recipe-category {
			@extend .clear-category-btn;
		}
	}
}

// Modal
.modal-header span {
	@extend .clear-category-btn;
}

// header filters
// .appetizers {
// 	background-color: #D7EEFF;
// }
// .breakfast {
// 	background-color: #FFD1DC;
// }
// .desserts {
// 	background-color: 	#FFB347;
// }
// .entrees {
// 	background-color: #AEC6CF;
// }
// .side {
// 	background-color: #FDFD96;
// }
