// Reusable components
.clear-category-btn {
	float: right;
	text-transform: capitalize;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-top: -10px;
}

body {
	// background-color: blue;
}

li {
	list-style-type: circle;
}

li.no-bullet {
	list-style-type: none
}

.container {
	header {
		margin: 0 5px;
		text-align: center;
		h1 {
			text-align: center;
			margin: 50px 0;
		}
		form {
			text-align: center;
			margin-bottom: 50px;
		}
		.form-group,
		.input-group {
			width: 100%;
		}
		.form-group {
			max-width: 250px;
		}
		#user-search {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	.legend {
		background-color: #ddd;
		border-radius: 4px;
		margin: 0 5px 20px;
		padding: 10px;
		text-align: center;
		> h3 {
			margin: 10px 0 30px;
		}
		h4 {
			margin: 20px 0 15px;
		}
		li {
			display: inline-block;
			padding: 5px;
			border-radius: 5px;
		}
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
		a {
			text-transform: capitalize;
		}
	}

	#clear-search {
		position: absolute;
		right: 5px;
		top: -1px;
		height: 14px;
		font-size: 14px;
		cursor: pointer;
		color: #ccc;
		z-index: 2;
		vertical-align: middle;
	}

	.recipe {
		display: block;
		padding: 5px;
		a {
			display: block;
			padding: 30px;
			&:focus {
				outline: none;
				background-color: #FFF;
			}
		}
		.recipe-image {
			.thumb {
				float: left;
				margin-right: 15px;
			}
		}
		.recipe-body {
			float: left;
			h3 {
				text-align: center;
				margin-bottom: 20px;
			}
			span {
				text-transform: capitalize;
			}
		}
		.recipe-category {
			@extend .clear-category-btn;
		}
	}
}

// Modal
.modal-header {
	.modal-title {
		text-transform: capitalize;
	}
}

.modal-body {

}


@media (max-width : 768px) {
	.container {
		header {
			.form-group {
				max-width: none;
			}
		}
	}
}

// header filters
// .appetizers {
// 	background-color: #D7EEFF;
// }
// .breakfast {
// 	background-color: #FFD1DC;
// }
// .desserts {
// 	background-color: 	#FFB347;
// }
// .entrees {
// 	background-color: #AEC6CF;
// }
// .side {
// 	background-color: #FDFD96;
// }
